<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="80100">
        <setting id="emailAddress" type="text" label="80201" default=""/>
        <setting label="80202" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
        <setting id="loginRetries" type="labelenum" label="80203" default="1" values="1|2|3" visible="false"/>
        <setting type="sep" />
        <setting id="announcement" type="text" label="80701" default="" visible="false"/>
    </category>
    <category label="80500">
        <setting id="xForwardedForIp" type="ipaddress" label="80501" default=""/>
        <setting type="sep" />
    </category>
</settings>
